<script type='text/javascript'>
$(function() {
	Dashing.widget_base_dimensions = [132, 74]
	Dashing.numColumns = 9
});
</script>

<div class="gridster">
  <ul>
		<li data-row="3" data-col="9" data-sizex="9" data-sizey="3">
			<div data-id="trave" data-view="GraphTrave" data-title="Travestand" data-suffix=" cm"></div>
		</li>
		<li data-row="3" data-col="9" data-sizex="9" data-sizey="3">
			<div data-id="feinstaub" data-view="Graph" data-title="Feinstaub" data-suffix=" µg/m³"></div>
		</li>
  </ul>
</div>
