<script type='text/javascript'>
$(function() {
	Dashing.widget_base_dimensions = [132, 74]
	Dashing.numColumns = 9
});
</script>

<div class="gridster">
  <ul>
		<li data-row="9" data-col="9" data-sizex="9" data-sizey="9">
				<div data-id="pizza" data-view="List" data-title="Pizza-Bestellungen" data-unordered="true" data-moreinfo=""></div>
		</li>
  </ul>
</div>
