<script type='text/javascript'>
$(function() {
	Dashing.widget_base_dimensions = [132, 74]
	Dashing.numColumns = 9
});
</script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="3">
      <div data-id="this_month" data-view="FullNumber" data-title="lfd. Monat" data-moreinfo="" data-suffix=" GiB"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="3">
      <div data-id="today" data-view="FullNumber" data-title="Heute" data-moreinfo="" data-suffix=" MiB"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="9">
      <div data-id="bestand" data-view="List" data-title="Getränkelager" data-unordered="true"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="3">
      <div data-id="drinks" data-view="Number" data-title="Getränke heute" data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="3">
      <div data-view="Clock"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="6">
      <div data-id="drinklist" data-view="List" data-title="Heute beliebt" data-unordered="true"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="3">
      <div data-id="temperatur" data-view="Number" data-title="Temperatur" data-suffix="°C" data-moreinfo=""></div>
    </li>
  </ul>
</div>
